<div class="breadcrumb">
  <<
  <%= link_to "CUSTOMER", @horse.customer %>
  <<
  <%= link_to "HORSE DETAILS", @horse %>
</div>

<fieldset>
    <legend>Horse Information</legend>

    <%= render 'form' %>
</fieldset>
