<div class="list">

<h1 class="title">My Horses</h1>

<p class="notice"><%= notice %></p>

<% if session[:user][:access] == "customer" %>
    <% if @horses.empty? == false %>
        <table class="margin_above">
          <% @horses.each do |horse| %>
            <tr>
              <% name = horse.barn_name %>
              <% if horse.reg_name.blank? == false %>
                <% name = horse.reg_name + " (" + horse.barn_name + ")" %>
              <% end %>
              <td><%= link_to name, horse %></td>
              <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
            </tr>
          <% end %>
        </table>
    <% else %>
        <p class="currently_no">There are currently no horses listed for your account.</p>
    <% end %>
<% else %>

<% end %>

</div>