<div class="breadcrumb">
  << <%= link_to 'CUSTOMERS', customers_path %> << <%= link_to @horse.customer.last_name.upcase!, @horse.customer %>
</div>

<div class="list">

<h1 class="title">Horses</h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>