<% if session[:user].nil? == false %>
                    <% if session[:user][:access] == 'admin' %>
                        <% if params[:controller] == "organizations" %>
                            <li class="on"><%= link_to 'ORGANIZATIONS', organizations_path %></li>
                        <% else %>
                            <li class="off"><%= link_to 'ORGANIZATIONS', organizations_path %></li>
                        <% end %>
                        <li class="off"><%= link_to 'LOGOUT', logout_path %></li>
                    <% else %>
                        <% if params[:action] == "builder" %>
                            <li class="on"><%= link_to 'INVOICE BUILDER', builder_path %></li>
                        <% else %>
                            <li class="off"><%= link_to 'INVOICE BUILDER', builder_path %></li>
                        <% end %>
                        <% if params[:controller] == "customers" %>
                            <li class="on"><%= link_to 'CUSTOMERS', customers_path %></li>
                        <% else %>
                            <li class="off"><%= link_to 'CUSTOMERS', customers_path %></li>
                        <% end %>
                        <% if params[:controller] == "invoices" %>
                            <li class="on"><%= link_to 'INVOICES', invoices_path %></li>
                        <% else %>
                            <li class="off"><%= link_to 'INVOICES', invoices_path %></li>
                        <% end %>
                        <% if params[:controller] == "documents" %>
                            <li class="on"><%= link_to 'BINDER', documents_path %></li>
                        <% else %>
                            <li class="off"><%= link_to 'BINDER', documents_path %></li>
                        <% end %>
                        <li class="off"><%= link_to 'LOGOUT', logout_path %></li>
                    <% end %>
                <% else %>
                    <%#<li class="on">COMING SOON...</li>%>