<div class="list">

<h1 class="title"><%= @user.name %></h1>

Username: <%= @user.username %>
<br />
<% if @user.organization.nil? == false %>
    <%= @user.organization.name %>
    <br />
<% end %>
<%= link_to @user.email, "mailto:" + @user.email %>

</div>