<div class="breadcrumb">
  << <%= link_to 'EXAMPLE INVOICE', invoice_sample_path %>
</div>

<div class="list">

<h1 class="title">Customize Your Invoices</h1>

<p id="notice"><%= notice %></p>

<%= render 'form' %>

</div>