<div class="list">

    <h1 class="title">Customize Your Invoices</h1>

    <p id="notice"><%= notice %></p>

    <% if @organization.custom.nil? == false %>
        <%= link_to 'Edit customization', edit_custom_path(@organization.custom), :class => "add_link"  %>
    <% else %>
        <%= link_to 'Edit customization', new_custom_path, :class => "add_link" %>
    <% end %>

    <iframe src="<%= @filename %>" height="900px" width="890px" style="margin-top: 20px"></iframe>

</div>