<div class="breadcrumb">
  <<
  <%= link_to "CUSTOMERS", customers_path %>
  <<
  <%= link_to "CUSTOMER DETAILS", @customer %>
</div>

<fieldset>
    <legend>Customer Information</legend>

    <%= render 'form' %>
</fieldset>