<div class="breadcrumb">
  << <%= link_to 'CUSTOMERS', customers_path %>
</div>

<div class="list">

<h1 class="title">Customers</h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>