<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'About Us', about_path%></li>
            <li><%= link_to 'Facilities', facilities_path%></li>
        </ul>
    </div>

    <%= image_tag("alida_about.jpg", :alt => "Alida Burkholder") %>
    <p class="quotes">Then her trainer, Natalie Unger (<a href="http://www.brownstonefarmpa.com">click here to visit Natalie's website</a>), put it point blank: "She said, 'I think you've won everything you can win, and I didn't spend all these years teaching you all I know for you to be a non-pro your entire life,' " Alida recalls. "I said okay, and went on to bigger and better things - helping others reach their goals, which is really tough."</p>
    <p>Alida Burkholder (formerly Farrington) has been involved with horses her entire life, and has been showing Appaloosas for over thirty years. She has achieved success as both a youth and non-pro competitor, and as an open exhibitor. Alida has earned multiple World Championships and National Top Five finishes, as well as numerous year-end National high point awards. Her clients have found just as much success under her guidance. She offers lessons both to her clients and to the public; for more information about lessons, please click here. When she's not spending time at the barn, Alida enjoys being her husband Vince, son Tallon, and daughter Heather. Family activities include four wheeling, camping, Tallon's football teams and Heather's cheerleading/4-H endeavors.</p>

    <%= image_tag("alida_vince.jpg", :alt => "Alida and her husband, Vince") %>
    <%= image_tag("kids_fourwheelers.jpg", :alt => "Alida's kids, Tallon and Heather") %>
</div>