<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Services', services_path%></li>
            <li><%= link_to 'Boarding', boarding_path%></li>
            <li><%= link_to 'Training', training_path%></li>
            <li><%= link_to 'Lessons', lessons_path%></li>
        </ul>
    </div>
    <p>The price of board at Lower Hopewell is <b>$325</b> a month.</p>

    <p>This includes:</p>

    <div class="facility_lists">
        <ul>
            <li>Daily turnout (weather permitting)</li>
            <li>Stalls cleaned and fresh sawdust added daily</li>
            <li>Horses fed, hayed and watered twice daily</li>
            <li>Access to farm veterinarian and farrier (vet and farrier fees are NOT included in price of board)</li>
            <li>Trailer parking available (LHF reserves the right to mandate trailer size)</li>
        </ul>
    </div>
    <div class="multi">
        <%= image_tag("farmsign.jpg", :alt => "LHF sign") %>
        <%= image_tag("downfence.jpg", :alt => "Fence line") %>
    </div>
    <p>
        <b>Veterinary Services provided by:</b>
        <br/>
        <%= link_to 'Edelson Equine Association', 'http://www.edelsonequine.com/'%>
        <br/>
        2001 Sonora Lane
        <br/>
        Manheim, PA 17545
        <br/>
        (800) 845-6532
    </p>

    <p>
        <b>Farrier Services provided by:</b>
        <br/>
        David Landolfi and Eric Schmitt
    </p>

    <div class="multi">
        <%= image_tag("david.jpg", :alt => "David Landolfi") %>
        <%= image_tag("eric.jpg", :alt => "Eric Schmitt") %>
    </div>
</div>
