<div id="main">
    <p class="address">
        Alida Burkholder
        <br/>
        395 Speedwell Forge Road
        <br/>
        Lititz, PA 17543
    </p>

    <p class="address">
        Phone Numbers:
        <br/>
        Barn: (717) 626-7258
        <br/>
        Cell: (717) 587-7421
    </p>

    <p class="address">
        Email: <a href="mailto:lhfapps@ptd.net">lhfapps@ptd.net</a>
    </p>

    <div id="socmedia_links">
        <a href="http://www.facebook.com/#!/pages/Lititz-PA/Lower-Hopewell-Farm-Appaloosa-Show-Barn/296194624712?ref=ts">
            <img src="../images/join_facebook.jpg" alt="Follow us on Twitter"/>
        </a>

        <a href="http://twitter.com/alidasapps">
            <img src="../images/follow_twitter.jpg" alt="Follow us on Twitter"/>
        </a>
    </div>

    <img src="../images/div42.gif" alt="Divider"/>

    <p class="directions">
        <a href="http://www.mapquest.com/maps?form=directions&2a=390%20Speedwell%20Forge%20Rd&2c=Lititz&2s=PA&2z=17543-9538&2y=US&2l=40.222278&2g=-76.333203">Click
            here for directions from your location</a>
    </p>

    <p class="directions">General Directions:</p>

    <p class="directions">
        We are located only a few miles from the intersection of US-322 and PA-501. From 322 West, cross over 501 and
        make your first left onto Long Lane. Follow to the end, make a right onto Speedwell Forge Road, and LHF is the
        first farm on the right.
    </p>

    <p class="directions">
        <b>From Philadelphia:</b><br/>
        Take I-676 West to I-76 West. After 18 miles, I-76 becomes the Pennsylvania Turnpike (tolls apply). Take exit
        286 (Reading/Lancaster), follow signs to PA-272 South. Take the US-322 West ramp, then use the directions above.
    </p>

    <p class="directions">
        <b>From Allentown:</b><br/>
        Take US-222 South to PA-272 South. Follow the US-322 West ramp, then use the directions above.
    </p>

    <p class="directions">
        <b>From Harrisburg:</b><br/>
        Take I-83 North to I-283 South, then to the Pennsylvania Turnpike (I-76 East). Take exit 266
        (Lebanon/Lancaster), then turn left onto PA-72. Stay right to merge onto US-322 East. Go 6 miles and make a
        sharp right onto Speedwell Forge Road. Follow past signs for the Speedwell Forge Bed and Breakfast, and the farm
        is located on the right just past the turn for Long Lane.
    </p>

    <p class="directions">
        <b>From Pittsburgh:</b><br/>
        Take I-376 East to I-76. Follow the Pennsylvania Turnpike (I-76 East, tolls apply) towards Harrisburg. Take exit
        266 (Lebanon/Lancaster), then follow the directions from Harrisburg above.
    </p>

</div>
