<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'About Us', about_path%></li>
            <li><%= link_to 'Facilities', facilities_path%></li>
        </ul>
    </div>
    <div id="facility_lists">
        <h2>Main Barn</h2>
        <ul>
            <li>19 stalls, each 10x10 with mats and front bars</li>
            <li>Windows on outward-facing stalls</li>
            <li>Halter hooks and blanket bars for each stall</li>
            <li>Garage doors at each end</li>
            <li>Wash stall with hot and cold water</li>
        </ul>
        <div class="multi">
            <%= image_tag("barnaisle.jpg", :alt => "Barn aisle") %>
            <%= image_tag("barnaisle2.jpg", :alt => "Barn aisle") %>
            <%= image_tag("washstall.jpg", :alt => "Wash stall") %>
        </div>

        <h2>Indoor Arena</h2>
        <ul>
            <li>60'x120' riding area</li>
            <li>Enclosed entrance from the main barn</li>
            <li>Sand footing</li>
            <li>Ground poles/cavalettis for trail practice or small jump set-up</li>
            <li>Two garage doors and ceiling skylights for natural light</li>
        </ul>
        <div class="multi">
            <%= image_tag("indoor2.jpg", :alt => "Indoor arena") %>
            <%= image_tag("indoor.jpg", :alt => "Indoor arena") %>
        </div>

        <h2>Outdoor Arena</h2>
        <ul>
            <li>1/2 square acre of sand footing (with ground poles, trail bridge, and other trail obstacles)</li>
            <li>1/2 square acre of grass footing (with standards, poles, and cavaletti blocks for jump practice)</li>
        </ul>
        <div class="multi">
            <%= image_tag("outdoor.jpg", :alt => "Outdoor arena") %>
            <%= image_tag("outdoor5.jpg", :alt => "Outdoor arena") %>
            <%= image_tag("outdoor2.jpg", :alt => "Outdoor arena") %>
            <%= image_tag("outdoorfar.jpg", :alt => "Outdoor arena") %>
            <%= image_tag("outdoor3.jpg", :alt => "Outdoor arena") %>
            <%= image_tag("outdoor4.jpg", :alt => "Outdoor arena") %>
        </div>

        <h2>Over 40 acres of pasture...</h2>

        <div class="multi">
            <%= image_tag("backpasture2.jpg", :alt => "Back pasture") %>
            <%= image_tag("sidepasture.jpg", :alt => "Side pasture") %>
            <%= image_tag("sidepasture3.jpg", :alt => "Side pasture") %>
            <%= image_tag("frontpasture.jpg", :alt => "Front pasture") %>
        </div>

        <h2>Also, plenty of farm land for trail riding!</h2>

        <div class="multi">
            <%= image_tag("trailentrance.jpg", :alt => "Entrance to trails") %>
        </div>
    </div>
</div>
