<div class="full_centered">
  <h1 class="title">Welcome!</h1>
  <p>You've found the future home of a comprehensive billing and invoice management application,
     designed to help equine professionals (barn owners, barn managers, trainers and more)
     maintain all of their records as easily as the <b>chubby pony</b> in your field maintains his weight.</p>

  <div id="signup">
    <%= link_to 'GIVE IT A TRY!', new_user_path, :class => "signup_button" %>
  </div>
</div>