<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Services', services_path%></li>
            <li><%= link_to 'Boarding', boarding_path%></li>
            <li><%= link_to 'Training', training_path%></li>
            <li><%= link_to 'Lessons', lessons_path%></li>
        </ul>
    </div>
    <p>Alida offers lessons to students of all ages and riding levels, from beginner through advanced. Lessons are
        available for both English and Western riders, and LHF offers a variety of safe, reliable, well-trained horses
        for our students. Nearly all of our lesson horses are former successful Appaloosa show horses. Alida is
        well-qualified, enthusiastic, and enjoys sharing her riding and general equine knowledge.</p>

    <p>Most lessons at LHF are one hour in length, but half-hour lessons are available for younger students or those for
        whom an hour lesson is otherwise not possible.</p>

    <p>
        <b>Half hour lesson (semi-private): $15</b>
        <br/>
        <b>One hour lesson (semi-private): $20</b>
    </p>

    <div class="multi">
        <%= image_tag("ernie.jpg", :alt => "Zippos Luck AKA Ernie") %>
        <%= image_tag("alidaelyseandco.jpg", :alt => "Lesson time") %>
        <%= image_tag("tuffy.jpg", :alt => "One Tuff Zippo AKA Tuffy") %>
    </div>
    <p>
        <b>Important lesson information:</b>
    </p>
    <ul id="big_list">
        <li>Students should arrive at least 15-20 minutes before their lesson time. An important part of riding is
            learning to groom, tack up, and prepare your horse for your lesson.
        </li>
        <li>Appropriate attire MUST be worn. Riders are expected to wear boots with an appropriate heel, and either
            jeans or riding pants. Riders under the age of 18 are required to wear a helmet (LHF has helmets available
            if needed).
        </li>
        <li>All students are required to sign a Release of Liability form before working with or riding a horse on LHF
            property.
        </li>
        <li><b>CANCELLATION POLICY:</b> Any lesson not canceled 24 HOURS IN ADVANCE (except in the case of sudden
            illness or inclement weather) will be charged your normal lesson rate. Please <b>CALL</b> (do not email)
            Alida at 717-587-7421 to cancel your lesson as soon as you know you will not be able to make it.
        </li>
    </ul>
    <p>
        Please call Alida today to plan a trip out to visit the farm, to watch a lesson, or to schedule a lesson of your
        own! (717) 587-7421
    </p>

    <p class="note">
        *NOTE*: We DO NOT offer trail rides or any type of unsupervised riding to be done by guests to the farm. We
        apologize, and thank you for your understanding.
    </p>
</div>
