<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Showing', showing_path%></li>
            <li><%= link_to 'Show Schedule', schedule_path%></li>
            <li><%= link_to 'Show Results', results_path%></li>
        </ul>
    </div>
    <h1>2012 Show Schedule</h1>

    <div style="text-align: center;">
    <h4 style="text-decoration: underline; margin-bottom: 0px">JANUARY</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">FEBRUARY</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">MARCH</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">APRIL</h4>
    <ul>
        <li style="font-size: 12px">21 - 22: GSAA (New Jersey Horse Park)</li>
    </ul>

    <h4 style="text-decoration: underline; margin-bottom: 0px">MAY</h4>
    <ul>
        <li style="font-size: 12px">12 - 13: DAHA (Harrington, DE)</li>
        <li style="font-size: 12px">25 - 27: KAC (Harrisburg, PA)</li>
    </ul>

    <h4 style="text-decoration: underline; margin-bottom: 0px">JUNE</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">JULY</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">AUGUST</h4>
    <ul>
        <li style="font-size: 12px">18 - 19: GSAA (Branchville, NJ)</li>
        <li style="font-size: 12px">25 - 26: DAHA (Harrington, DE)</li>
    </ul>

    <h4 style="text-decoration: underline; margin-bottom: 0px">SEPTEMBER</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">OCTOBER</h4>
    <ul>
        <li style="font-size: 12px">6 - 7: GSAA (Branchville, NJ)</li>
    </ul>

    <h4 style="text-decoration: underline; margin-bottom: 0px">NOVEMBER</h4>

    <h4 style="text-decoration: underline; margin-bottom: 0px">DECEMBER</h4>
    </div>
</div>
