<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Services', services_path%></li>
            <li><%= link_to 'Boarding', boarding_path%></li>
            <li><%= link_to 'Training', training_path%></li>
            <li><%= link_to 'Lessons', lessons_path%></li>
        </ul>
    </div>
    <p>Lower Hopewell offers a wide variety of services for the horse enthusiast of every level, from trail rider to
        National level showman. Please look through our sections on boarding, training and lessons, and <a
                href="mailto:lhfapps@ptd.net">contact Alida</a> with any additional questions.</p>
</div>
