<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Showing', showing_path%></li>
            <li><%= link_to 'Show Schedule', schedule_path%></li>
            <li><%= link_to 'Show Results', results_path%></li>
        </ul>
    </div>
    <h1>Look for the following 2012 LHF teams at a show near you!</h1>

    <h2>An Impressive Secret & Sharon Haddock</h2>
    <%= image_tag("izzy_worldshow.jpg", :alt => "An Impressive Secret") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Non Pro Geldings</li>
        <li>Non Pro Most Colorful</li>
        <li>Aged Geldings with Alida Burkholder</li>
        <li>Open Most Colorful with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>Whata Cool Secret & Judy Harrison</h2>
    <%= image_tag("littlebubba_nj.jpg", :alt => "Whata Cool Secret") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Non Pro Geldings</li>
        <li>Non Pro Most Colorful</li>
        <li>Aged Geldings with Alida Burkholder</li>
        <li>Open Most Colorful with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>Hunter Diva & Jenny Messner</h2>
    <%= image_tag("barbie.jpg", :alt => "Hunter Diva") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Non Pro Hunter In Hand Mares</li>
        <li>Non Pro Most Colorful</li>
        <li>Non Pro Showmanship</li>
        <li>Jr HUS, Hunter In Hand, Aged Mares and Open Most Colorful with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>Secretly Awesome & Sharon Haddock</h2>
    <%= image_tag("PhotoComingSoon.jpg", :alt => "Secretly Awesome") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Yearling Longe Line and Open Most Colorful with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>April's Doc'll Fool Ya & Joyce Dougherty</h2>
    <%= image_tag("bubba_de.jpg", :alt => "April's Doc'll Fool Ya") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Novice Non Pro All Around Events</li>
        <li>Masters All Around Events</li>
        <li>Senior Trail with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>Coosas Bartender & Elyse Dougherty</h2>
    <%= image_tag("buster_cart.jpg", :alt => "Coosas Bartender") %>

    <h2>Appearing In...</h2>
    <ul>
        <li>Non Pro HUS, Hunter In Hand, Pleasure Driving and Showmanship</li>
        <li>Sr HUS, Hunter In Hand and Pleasure Driving with Alida Burkholder</li>
    </ul>
    <%= image_tag("div42.gif", :alt => "Divider") %>

</div>
