<div id="main">
    <div id="subnav">
        <ul>
            <li><%= link_to 'Services', services_path%></li>
            <li><%= link_to 'Boarding', boarding_path%></li>
            <li><%= link_to 'Training', training_path%></li>
            <li><%= link_to 'Lessons', lessons_path%></li>
        </ul>
    </div>
    <div class="multi">
        <%= image_tag("buster_worldshow.jpg", :alt => "Alida and Coosas Bartender") %>
        <%= image_tag("buster_hih.jpg", :alt => "Alida and Coosas Bartender") %>
    </div>
    <p>Alida Burkholder has a simple training philosophy - to work long and hard in order to get the best out of her
        clients and their horses. She keeps a very manageable number of horses in training (generally 5-7), which
        results in a lot of individualized focus and attention. Alida specializes in a wide variety of disciplines, from
        Youth/Non-Pro all around to halter horses. Her young horses are started the right way, with longevity and
        long-term physical and mental soundness as a primary goal.</p>

    <div class="multi">
        <%= image_tag("buster_husnj.jpg", :alt => "Training in Hunter Under Saddle") %>
        <%= image_tag("kacbanq.jpg", :alt => "2010 KAC Banquet") %>
        <%= image_tag("buster_3yo.jpg", :alt => "Training in Halter") %>
    </div>
    <p>
        Please contact Alida today to discuss your goals and a training plan for yourself and your horse.
    </p>
</div>
