<div id="main">
    <h1>What's New at LHF?</h1>

    <h2>LEADING THE NATION 2011</h2>

    <p style="font-size: 10px">(as of 12/31/2011)</p>
    <ul>
        <li>An Impressive Secret - 2nd in Aged Geldings</li>
        <li>An Impressive Secret - 2nd in Open Most Colorful</li>
        <li>Hunter Diva - 2nd in Aged Mares</li>
        <li>Joyce Dougherty - 1st in Novice Non Pro Hunter Under Saddle</li>
        <li>Joyce Dougherty - 5th in Novice Non Pro Hunt Seat Equitation</li>
        <li>Sharon Haddock - 2nd in Non Pro Most Colorful</li>
        <li>Sharon Haddock - 3rd in Non Pro Halter Geldings</li>
    </ul>

    <%= image_tag("div42.gif", :alt => "Divider") %>

    <h2>2011 APPALOOSA WORLD SHOW</h2>

    <p>LHF wishes good luck and safe travels to all of our friends heading to Fort Worth!</p>

    <%= image_tag("div42.gif", :alt => "Divider") %>

</div>
