<div class="breadcrumb">
  << <%= link_to @auto.customer.last_name.upcase, @auto.customer %>
</div>

<div class="list">

<h1 class="title">AUTO ITEMS</h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>