<div class="breadcrumb">
  << <%= link_to 'INVOICES', invoices_path %> << <%= link_to @payment.invoice.name, @payment.invoice %>
</div>

<div class="list">

<h1 class="title">Payment</h1>

<p id="notice"><%= notice %></p>

<%= render 'form' %>

</div>