<div class="list">
    <h4>Thank you for your payment!</h4>

    <p>For your records, your transaction ID is: <b><%= @transaction_id %>.</b></p>

    <br /><br />
    <%= link_to "Return to invoice", @invoice %>
</div>