<div class="breadcrumb">
  <% if @item.invoice.nil? == false %>
    <<
    <%= link_to "INVOICE", @item.invoice %>
  <% else %>
    <<
    <%= link_to "EASY ADD", admin_path %>
  <% end %>
</div>

<fieldset>
    <legend>Item Information</legend>

    <%= render 'form' %>

</fieldset>