<% if session[:user][:access] == "admin" %>
    <div class="breadcrumb">
      << <%= link_to 'ORGANIZATIONS', organizations_path %>
    </div>
<% end %>

<div class="list">

<% if session[:user][:admin] == "admin" %>
    <h1 class="title"><%= @organization.name %></h1>
<% else %>
    <h1 class="title">Your Barn</h1>
<% end %>

<%= render 'form' %>

</div>