<div class="breadcrumb">
  << <%= link_to 'CATEGORIES', categories_path %>
</div>

<div class="list">

<h1 class="title"><%= @category.name %></h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>